@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul li {
  list-style: none;
}
body {
  font-family: "Roboto", sans-serif;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
}

.app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
}

.main {
  display: flex;
}

@import "./loader.scss";
@import "./flights.scss";
@import "./flightItem.scss";
@import "./legItem.scss";
@import "./filters.scss";
