.app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
}
.loader-wrapper {
  display: flex;
  justify-content: center;
}
.loader {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 1px dashed #0087c9;
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg) scale(1);
  }

  to {
    transform: rotate(360deg) scale(1.5);
  }
}
.flight-list {
  flex: 1 1 auto;
  padding: 0 0 0 30px;
}
.main {
  display: flex;
}

@import "./flightItem.scss";
@import "./legItem.scss";
@import "./filters.scss";
