@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul li {
  list-style: none;
}
body {
  font-family: "Roboto", sans-serif;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
}

.app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 10px;
}

.main {
  @media (min-width: "992px") {
    display: flex;
  }
}

// Стили для лоадера
@import "./loader.scss";
// Стили для списка перелетов
@import "./flights.scss";
// Стили для одного перелета
@import "./flightItem.scss";
// Стили для одного лега
@import "./legItem.scss";
// Стили для фильтров
@import "./filters.scss";
